
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
body {
background-color: #303030;
color: #ffffff;
}

h1 {
font-size: 3em;
font-weight: bold;
text-align: center;
}

p {
font-size: 1.2em;
text-align: center;
}

.container {
padding-top: 50px;
}

.dune-logo {
width: 200px;
height: 200px;
margin: 0 auto;
}

.dune-about-text {
padding: 20px;
background-color: #ffffff;
margin-top: 20px;
}

.dune-about-image {
width: 100%;
height: 400px;
background-image: url("dune-about-image.jpg");
background-size: cover;
}

.dune-about-features {
padding: 20px;
background-color: #ffffff;
margin-top: 20px;
}

.dune-about-feature {
margin-bottom: 20px;
}

.dune-about-feature-icon {
width: 50px;
height: 50px;
margin-right: 10px;
}

.dune-about-feature-title {
font-size: 1.5em;
font-weight: bold;
}

.dune-about-feature-description {
font-size: 1.2em;
}
</style>

<div class="container">
<div class="row">
<div class="col-md-12">
<img src="dune-logo.png" alt="Dune: Imperium" class="dune-logo">
<h1>Dune: Imperium</h1>
<p>The board game of conquest and diplomacy in the Dune universe.</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="dune-about-text">
<p>Dune: Imperium is a board game of conquest and diplomacy set in the Dune universe. Players take on the roles of noble houses vying for control of the planet Arrakis, the only source of the valuable spice melange. The game combines elements of strategy, negotiation, and resource management to create a rich and immersive experience.</p>
<p>Players must carefully manage their resources, build their armies, and form alliances to gain an advantage over their opponents. The game features a variety of different ways to win, so players must be adaptable and willing to change their strategies as the game progresses.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="dune-about-image"></div>
</div>
</div>
<div
