
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
body {
background-color: #303030;
color: #ffffff;
}

h1 {
font-size: 3em;
font-weight: bold;
text-align: center;
}

p {
font-size: 1.2em;
text-align: center;
}

.container {
padding-top: 50px;
}

.dune-logo {
width: 200px;
height: 200px;
margin: 0 auto;
}

.dune-banner {
width: 100%;
height: 400px;
background-image: url("dune-banner.jpg");
background-size: cover;
}

.dune-features {
padding: 20px;
background-color: #ffffff;
margin-top: 20px;
}

.dune-feature {
margin-bottom: 20px;
}

.dune-feature-icon {
width: 50px;
height: 50px;
margin-right: 10px;
}

.dune-feature-title {
font-size: 1.5em;
font-weight: bold;
}

.dune-feature-description {
font-size: 1.2em;
}

.dune-call-to-action {
padding: 20px;
background-color: #000000;
color: #ffffff;
margin-top: 20px;
text-align: center;
}

.dune-call-to-action-button {
font-size: 1.5em;
font-weight: bold;
color: #ffffff;
background-color: #000000;
border: 1px solid #ffffff;
padding: 10px 20px;
text-decoration: none;
}
</style>

<div class="container">
<div class="row">
<div class="col-md-12">
<img src="dune-logo.png" alt="Dune: Imperium" class="dune-logo">
<h1>Dune: Imperium</h1>
<p>The board game of conquest and diplomacy in the Dune universe.</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="dune-banner"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="dune-features">
<div class="dune-feature">
<img src="dune-feature-icon-1.png" alt="Icon 1" class="dune-feature-icon">
<h3 class="dune-feature-title">Wage War</h3>
<p class="dune-feature-description">Control your armies and wage war against your opponents to gain control of the galaxy.</p>
</div>
<div class="dune-feature">
<img src="dune-feature-icon-2.png" alt="Icon 2" class="dune-feature-icon">
<h3 class="dune-feature-title">Negotiate Alliances</h3>
<p class="dune-feature-description">Form alliances with other players to gain an advantage in the game.</p>
</div>
<div class="dune-feature">
<img src="dune-feature-icon-3.png" alt="Icon 3" class="dune-feature-icon">
<h3 class="dune-feature-title">Control the Spice</h3>
<p class="dune-feature-description">Control the spice trade to gain access to powerful resources.</p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="dune-call-to-action">
<a href="#" class="dune-call-to-action-button">Learn More</a>
</div>
</div>
</div>
</div>


